<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Host.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <!--        
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>-->

    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <!--
             <appender-ref ref="ConsoleAppender" /> 
             -->
    </root>
  </log4net>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IHomeTerraceService" type="Service.IHomeTerraceService, Service.HomeTerraceService" />        
    <container>
      <register type="IHomeTerraceService" mapTo="Service.HomeTeraceDummy, Service.HomeTerraceService" />
    </container>
  </unity>

  <appSettings>
    <add key="StartAsService" value="true"/>
  </appSettings>
  
</configuration>